[submodule "third-party/opts"]
	path = third-party/opts
	url = https://github.com/danfis/opts
[submodule "third-party/boruvka"]
	path = third-party/boruvka
	url = https://github.com/danfis/boruvka
[submodule "third-party/protobuf"]
	path = third-party/protobuf
	url = https://github.com/google/protobuf
    ignore = dirty
[submodule "third-party/nanomsg4py"]
	path = third-party/nanomsg4py
	url = https://github.com/danfis/nanomsg4py
[submodule "testsuites/pddl-data"]
	path = testsuites/pddl-data
	url = https://github.com/danfis/pddl-data
